.post-container {
	background-color: white;
	width: 20%;
	min-width: 250px;
	font-size: 12px;
	padding: 0 8px 16px 8px;
}
.post-header {
	padding: 8px;
	display: flex;
	align-items: center;
}
.post-avatar {
	margin-right: 10px;
}
.post-image {
	width: 100%;
	object-fit: contain;
}
.description-container {
	padding: 8px;
}
.post-flower,
.post-description {
	color: gray;
}
